@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
    font-family: "Lato", sans-serif;
    width: auto;
    height: auto;
    margin: 25px;
    border: 10px solid rgb(71, 60, 60);
}

.game{
    background: #dadada;
    padding-top: 35px;
    padding-bottom: 40px;
}

button{
    border: none;
    background: #dadada;
}

/*-----------STYLE DES BOUTONS-----------*/
.newgame{
    text-align: center;
}

.part-middle{
    display: flex;
    flex-direction: column;
}

.bi-plus-circle, .bi-box-arrow-in-down, .bi-arrow-repeat{
    color: rgb(250, 70, 70);
    vertical-align: baseline;
}

.rollDice{
    padding-bottom: 15px;
}

/*--------------STYLE DE LA ZONE DE JEU--------*/
.row{
    padding-top: 40px;
}

.imgdice{
    width: 150px;
}

.player{
    font-size: 2em;
}

.currentScore{
    background: rgb(250, 70, 70);
}
